.mainLayout {
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.navbar {
    margin-bottom: 15px
}

.mainbody {
    padding: 20px;
    border: 1px solid lightgrey;
}