.panel {
    border: 0.5px solid grey;
    border-left: 0px;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    width: 80%;
}

.elementsPanel {
    border-left: 0px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.canvasPanel {
    padding: 20px;
    margin: 10px;
    border: 1px solid lightgrey
}

.buttonPanel {
    background-color: lightblue;
    border-radius: 10px 0 0 10px;
    padding: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.panelLayout {
    display: flex;
}